.why-use-box.animation.animated.fadeInUp {
    float: left;
    width: 32%;
    margin: 15px 15px 0 0;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    height: 570px;
}


.why-use-box .box_inner
{
    box-shadow: none;
}

.the-legacy {
    display: flex;
}