.bg-section {
    
    padding-top: 4%;
    padding-bottom: 4%;
}
.as_featured_in {
    font-weight: 700;
    text-align: center;
    font-family: lato;
}
.as_featured_in_sub_heading {
    font-size: 19px;
    text-align: justify;
    padding: 0px 57px 0 57px;
}
.featured_logo {
    text-align: center;
}
.as_featured_in_logo {
    margin-top: 35px;
    position: relative;
}
.as_featured_in_logo img {
    filter: grayscale(100%);
}
.as_featured_in_logo img:hover {
    filter: grayscale(0%);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;
    transform: rotate(-10deg) scale(1.1);
}
.as_featured_in_text{
    font-size: 22px;
    font-weight: 600;
}
.the-legacy ul li {
    display: flex;
    align-items: baseline;
    font-weight: 600;
}
.the-legacy ul li i {
    margin-right: 10px;
}
.custom-cont .container {
    max-width: 90%;
    margin: 0 auto;
}
.custom-cont .the-legacy img {
    width: 100%;
    /* margin: 0 auto; */
    /* text-align: center; */
}

.custom-cont figure {
    background: #fff;
    text-align: center;
}
/* 
#incentive p {
    background: #e82d5a;
    border-radius: 21px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    min-height: 88px;
    color: #fff;
   
    width: 100%;
   
    
}
#incentive .left-box p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding-right: 44px;
    padding-left: 10px;
}
#incentive .right-box p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding-left: 44px;
    padding-right: 10px;
} */
.left-box P {
    margin-bottom: 15px;
    text-align: left;
    margin-left: 80px;
    position: relative;
}
.left-box p::before {
    position: absolute;
    content: "\f00c";
    font-family: 'FontAwesome';
    left: -30px;
    top: 0;
}
.benefit_box img{
    margin: 0 auto;
}
ul.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar {
    padding: 0px 60px;
}
#about .row {
    display: flex;
    justify-content: center;
}